1. What are data structures, and why are they important?

Ans.Data structures are specialized formats used to organize, store, and manage data efficiently in computing. They are essential because they determine how data is accessed and modified, which directly impacts the performance of software applications. Common types of data structures include arrays, linked lists, stacks, queues, trees, graphs, and hash tables. Each has unique properties and use cases, making them suitable for specific types of problems. For example, arrays provide fast access by index, while hash tables offer quick data retrieval using keys. The importance of data structures lies in their ability to improve algorithm efficiency, optimize memory usage, and enable scalable and organized data handling. Mastering data structures is fundamental for solving complex computational problems and building effective software systems.

2.Explain the difference between mutable and immutable data types with examples?

Ans. Mutable data types allow modifications; their contents can be altered without changing their identity. For example, lists in Python are mutable—you can add, remove, or change elements in a list after it's created. On the other hand, immutable data types cannot be changed once created. If you try to modify them, a new object is created instead. Strings and tuples in Python are common examples of immutable types. For instance, modifying a string actually creates a new string object, leaving the original unchanged. Understanding the difference is important for writing efficient and bug-free code, especially when working with collections or passing data between functions.

3.What are the main differences between lists and tuples in Python?

Ans. Difference between lists and tuples lies in their mutability. Lists are mutable, meaning their elements can be changed, added, or removed after the list is created. This makes lists suitable for collections of items that may need to be modified over time. In contrast, tuples are immutable, which means once a tuple is created, its contents cannot be changed. This immutability makes tuples more memory-efficient and suitable for fixed collections of items, such as coordinates or constant values. Additionally, tuples can be used as keys in dictionaries due to their immutability, whereas lists cannot. While both support indexing, slicing, and iteration, their mutability is the key factor that influences how and where each should be used.

4.Describe how dictionaries store data.

Ans. Dictionaries in Python store data using a structure called key-value pairs, where each unique key maps to a specific value. Internally, dictionaries use a hash table to manage and retrieve data efficiently. When you create a dictionary entry, Python computes a hash of the key using a hash function, which determines where in memory the value will be stored. This allows for *ast lookups, insertions, and deletions—typically in constant time, O(1), on average.Each key in a dictionary must be **immutable** (like strings, numbers, or tuples), ensuring that its hash value remains constant. Values, on the other hand, can be of any data type, mutable or immutable. For example, you could map a string (key) to a list (value) or an integer (key) to a string (value).Dictionaries are incredibly useful for organizing and retrieving data where a meaningful label or identifier is more useful than a numerical index—like storing student records by ID, or product prices by name. Overall, their structure and speed make them a fundamental and powerful part of Python’s data handling tool

5. Why might you use a set instead of a list in Python?

Ans. We might use a set instead of a list in Python when we need to store a collection of unique elements and perform operations like membership testing, unions, intersections, or differences efficiently. Unlike lists, sets automatically remove duplicate values, which is helpful when we want to ensure all items are distinct without extra effort. Sets also offer faster membership checks compared to lists, especially when working with large datasets. However, since sets are unordered and do not support indexing or slicing, they aren’t suitable when we need to maintain the order of elements or access them by position. Overall, sets are a great choice when we prioritize uniqueness and performance over order.

6. What is a string in Python, and how is it different from a list?

Ans. In Python, a string is a sequence of characters enclosed in single, double, or triple quotes, used to represent text. Strings are immutable, meaning once a string is created, it cannot be changed—any operation that appears to modify a string actually creates a new one. In contrast, a list is a mutable sequence of elements, which can include different data types such as numbers, strings, or even other lists. Lists allow for modification, such as adding, removing, or changing elements, while strings do not. Although both strings and lists support indexing, slicing, and iteration, the key differences lie in mutability and content type—strings are fixed and hold only characters, while lists are flexible and can hold any data type.

7. How do tuples ensure data integrity in Python?

Ans. Tuples ensure data integrity in Python because they are immutable, meaning once they are created, their contents cannot be modified. This property guarantees that the data remains consistent throughout the program. Since tuples cannot be changed, they are often used for storing fixed collections of values that should not be altered, making them ideal for representing things like coordinates, database records, or configuration data where integrity is important.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans. A hash table is a data structure that maps keys to values using a hash function to compute an index into an array of buckets or slots. In Python, dictionaries use a hash table to store key-value pairs. The key is hashed to a unique value, which determines where the value is stored in memory. This enables efficient lookups, insertions, and deletions, typically with constant time complexity, O(1), on average.

9. Can lists contain different data types in Python?

Ans. Yes, lists can contain different data types in Python. A list is a flexible, ordered collection that can hold elements of any data type, including integers, strings, floats, and even other lists or dictionaries. This allows for a diverse set of data to be stored together in a single list, making it a versatile container.

10.Explain why strings are immutable in Python.

Ans. Strings are immutable in Python to ensure consistency and efficiency. When a string is created, it is stored in memory, and any attempt to modify it results in the creation of a new string. This immutability helps in optimizations like interning, where identical strings can be stored once in memory to save space, and also ensures that strings are thread-safe and predictable in concurrent programs.

11. What advantages do dictionaries offer over lists for certain tasks?

Ans. Dictionaries offer several advantages over lists, particularly when it comes to tasks that require fast lookups, inserts, and deletions. Unlike lists, which require searching through the entire sequence to find an element, dictionaries use a hash table, allowing for average O(1) time complexity for accessing and modifying values based on keys. This makes dictionaries a better choice for tasks where you need to associate specific keys with values and retrieve them efficiently.

12.Describe a scenario where using a tuple would be preferable over a list.

Ans.  scenario where using a tuple would be preferable over a list is when you need to store a fixed set of values that should not be modified, such as representing geographic coordinates (latitude, longitude) or storing a pair of values like a name and age. Tuples provide immutability, ensuring that the data remains unchanged, and they are also more memory-efficient compared to lists.

13. How do sets handle duplicate values in Python?

Ans. Sets handle duplicate values by automatically removing them. When you try to add a duplicate element to a set, Python will ignore it and ensure that only unique elements are stored. This feature makes sets particularly useful when you want to maintain a collection of distinct values without worrying about duplicates.

14. How does the “in” keyword work differently for lists and dictionaries?

Ans. The “in” keyword works differently for lists and dictionaries in that for lists, it checks if the element is present by scanning through each element in the list. This results in a time complexity of O(n), where n is the number of elements in the list. For dictionaries, the "in" keyword checks if a key is present in the dictionary, leveraging the hash table's constant-time lookup, resulting in O(1) time complexity on average.

15. Can you modify the elements of a tuple? Explain why or why not.

Ans.You cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, it is fixed, meaning its elements cannot be changed, added, or removed. This property is designed to protect the integrity of the data and ensure that the tuple remains constant throughout its lifetime. If modification is necessary, a new tuple must be created.

16.What is a nested dictionary, and give an example of its use case?

Ans. A nested dictionary is a dictionary where the value associated with a key is another dictionary. This allows for hierarchical data representation. For example, you could use a nested dictionary to store student information, where the outer dictionary contains student names as keys and the values are dictionaries with details like age, grades, and address. This structure helps organize complex data in a way that is easy to access and update.

17. Describe the time complexity of accessing elements in a dictionary.

Ans. The time complexity of accessing elements in a dictionary is O(1) on average due to the use of a hash table. When you access a dictionary with a key, Python calculates the hash of the key and uses it to locate the corresponding value directly, making dictionary lookups extremely efficient compared to other data structures like lists, which require a linear search.

18. In what situations are lists preferred over dictionaries?

Ans. Lists are preferred over dictionaries in situations where you need an ordered collection of elements and the position of elements is important. Lists maintain the order of elements, and you can access elements by index, making them ideal for tasks that require maintaining a specific sequence of data. Lists are also better suited when you need to iterate through all elements in order without the need for key-based access.

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans. Dictionaries are considered unordered because the key-value pairs do not maintain a specific order, as they are stored in a hash table where the position of each pair is determined by the hash of the key. This affects data retrieval because, while you can efficiently access values by key, you cannot predict the order of items when iterating through a dictionary. If order matters, you may need to use an ordered dictionary or other data structures like lists.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans. The main difference between a list and a dictionary in terms of data retrieval is that in a list, elements are accessed by their index, which is based on their position in the sequence. In contrast, in a dictionary, elements are accessed by their keys, which can be any immutable data type. This allows dictionaries to offer faster lookups for large datasets since keys are hashed for quick access, while lists require a linear search or direct indexing to retrieve elements.

21.Write a code to create a string with your name and print it.

In [ ]:
name = "Your Name"

print(name)

Your Name

22. Write a code to find the length of the string "Hello World".

In [ ]:
text = "Hello World"
print(len(text))

11

23. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
text = "Python Programming"
print(text[:3])

Pyt

24. Write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"
print(text.upper())

HELLO

25.Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

26. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

27. P Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

28. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

29.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

30. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

31. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [2]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

32.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [3]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

33.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [4]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

34.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [23]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

35. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [22]:
fruits = ('apple', 'banana', 'kiwi')
print('kiwi' in fruits)

True

36.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [21]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'a', 'b'}

37.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [20]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

38. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [19]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

39.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [18]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

40.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [17]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection = set1.intersection(set2)
print(intersection)

{2, 3}

41.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [16]:
person = {'name': 'Alice', 'age': 30, 'city': 'New York'}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

42.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [15]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

43.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [14]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

44.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [13]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

45.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [12]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

46.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [6]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 7, 'b': 8}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8}

47.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced).

In [10]:
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[17, 53, 59, 74, 87]

48.Write a code to create a list with strings and print the element at the third index.

In [9]:
words = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(words[3])

date

49.Write a code to combine two dictionaries into one and print the result.

In [8]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

50.Write a code to convert a list of strings into a set.

In [7]:
string_list = ['apple', 'banana', 'cherry']
string_set = set(string_list)
print(string_set)

{'cherry', 'apple', 'banana'}